
ion-thumbnail {
    --size: 30px;
    --border-radius: 3px;
}
ion-item {
    --background: #cac5c7;
}
.btn-info {
    color: white;
    background-color: #0d3c68;
    padding: 0px;
}
// Button
.btn-dimension {
    height: 23px!important;
    line-height: 23px!important;
}
