.list-btn {
  display: flex;
  flex-direction: column;
  align-items: center left;
  margin: 10px 5px;
  .btn {
    margin-bottom: 10px;
  }
}
ion-thumbnail {
  --border-radius: 20px;
  --size: 60px;
}
::ng-deep {
  .mat-form-header-page{
    background-color: #eae7e7;
    border-radius: 3px; 
  }
  /*.mat-form-header-page.mat-form-field-appearance-outline*/
  .mat-form-header-page.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 0.3;
  }
  .mat-form-header-page.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.1em 0;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 0px;
  }
  .mat-form-header-page.mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: -0.1em;
}
.mat-form-header-page.mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.22em 0 0.05em 0;
  }
}