<ion-header>
  <div class="container-header-flex" fxLayout="row" fxLayoutGap="10px">
		<div class="flex-child-1" fxLayoutAlign="center center">
			<ion-thumbnail>
				<ion-img src="../../assets/ctas/logo_ctas.jpg"></ion-img>
			</ion-thumbnail>
		</div>

		<div class="child-row width100" fxLayout="column" fxLayoutGap="5px">
			<div class="child-content-header-pr width100" fxLayoutAlign="center center" style="padding-top: 4px;">
				Projet {{ nomPrjt }}
			</div>
			<div class="child-column" style="font-size: 10px;" fxLayoutAlign="center center" style="justify-content: center; padding-bottom: 2px;">
				<mat-form-field appearance="outline" class="mat-form-header-page">
          <mat-label>Projet</mat-label>
          <mat-select [(ngModel)]="selectedProjet" placeholder="Sélectionner un projet">
            <mat-option (click)="onSelectProjet()" *ngFor="let p of projets" [value]="p">
              {{ p.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
			</div>
		</div>
	</div>
</ion-header>
 
<ion-content>
  <div *ngIf="Activite_Projet == null">
      <p>Aucune Activité trouver pour le projet "{{ nomPrjt }}" !!!</p> 
  </div> 
  <div *ngIf="Activite_Projet.length > 0">
    <mat-action-list class="list-btn" *ngFor="let activite of Activite_Projet">
      <button mat-list-item class="btn" (click)="doMenu(activite)"> {{ activite.description }} </button>
    </mat-action-list>   
  </div> 
  <mat-action-list class="list-btn" *ngIf="Activite_Projet.length > 0">
    <button mat-list-item class="btn" (click)="goToRoot()">Synchronisation</button>
  </mat-action-list>   
  <!--<ion-button expand="full" (click)="doMenu()">PRODUCTION DE SEMENCE</ion-button>
  <ion-button expand="full" (click)="doMenu()">GESTION DE BLOC</ion-button>
  <ion-button expand="full" (click)="doMenu()">CHAMPS ECOLE DES PAYSANS RELAIS</ion-button>-->

</ion-content> 
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
