<ion-header>
  <div class="container-header-flex" fxLayout="row" fxLayoutGap="10px">
    <div class="flex-child-1" fxLayoutAlign="center center">
      <ion-buttons>
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </div>

    <div class="child-content-header-pr width100" fxLayout="row">
      <div class="ion-text-center ion-text-wrap width100">
        Animation/Visite Echange(VE)
      </div>
      <div>
        <button mat-icon-button class="custom-mat-icon" icon-only (click)="onClick()">
          <mat-icon aria-label="retour">
            <img src="../../../../assets/icon/Left_24px.png" alt="">
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="selectMatTab($event)">
    <mat-tab label="Animation">
      <div class="flex-container" fxLayout="column width100" fxLayoutGap="5px">
        <!--Contenent Ajouter-->
        <div class="content-flex-header-filter" fxLayout="row" style="justify-content: space-between">
          <div class="content-flex-header-filter-child" fxLayout="row" fxLayoutGap="10px">
            <div class="child-row">
              <button mat-raised-button class="btn-toggle" (click)="toggleTableRows('animation')">Tout afficher</button>
            </div>
            <div class="child-row">
              <button mat-icon-button class="custom-mat-icon-export" (click)="onExport('animation')" [disabled]="src_animation.length === 0" *ngIf="!isUpdate">
                <mat-icon aria-label="retour">
                  <img src="../../../../assets/icon/Ms_excel_48px.png" alt="">
                </mat-icon>
                <mat-label>Exporter</mat-label>
              </button>
            </div>
            <div class="child-row">
              <button mat-raised-button class="btn-ajouter" (click)="onAdd()" *ngIf="isUpdate" [disabled]="isRowEditAnimation">Ajouter Animation</button>
            </div>
          </div>
          <div class="child-column" fxLayout="row">
            <button mat-raised-button class="btn-modifier" (click)="onUpdate()" *ngIf="!isUpdate">Modifier</button>
            <button mat-raised-button class="btn-terminer" (click)="onFinish()" *ngIf="isUpdate">Terminer</button>
          </div>
        </div>
        <!--Contenent Ajouter-->
        <div class="child-column">
          <table mat-table [dataSource]="dataSourceAnimation" class="example-table" multiTemplateDataRows>
            <!--Column code_pr-->
            <ng-container matColumnDef="code_pr">
              <th mat-header-cell *matHeaderCellDef>Code Pr</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.code_pr_temp}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.pr != null?update_animeve.pr.code_pr:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_code_pr">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.pr != null?update_animeve.pr.code_pr:null}}
              </th>
            </ng-container>
    
            <!--Column Nom-->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nom}} {{row.prenom}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.pr != null?update_animeve.pr.nom:null}} {{update_animeve.pr != null?update_animeve.pr.prenom:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nom">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.pr != null?update_animeve.pr.nom:null}} {{update_animeve.pr != null?update_animeve.pr.prenom:null}}
              </th>
            </ng-container>
    
            <!--Column Code_anime-->
            <ng-container matColumnDef="code_anime">
              <th mat-header-cell *matHeaderCellDef>Code_anime</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.code_anime}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  --
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_code_anime">
              <th mat-header-cell *matHeaderCellDef>
                --
              </th>
            </ng-container>
    
            <!--Column date_anime-->
            <ng-container matColumnDef="date_anime">
              <th mat-header-cell *matHeaderCellDef>Date anime</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.date_anim}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.dt_anime}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_date_anime">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.dt_anime}}
              </th>
            </ng-container>
    
            <!--Column commune-->
            <ng-container matColumnDef="commune">
              <th mat-header-cell *matHeaderCellDef>Commune</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.commune}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.commune != null?update_animeve.commune.nom_com:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_commune">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.commune != null?update_animeve.commune.nom_com:null}}
              </th>
            </ng-container>
    
            <!--Column fokontany-->
            <ng-container matColumnDef="fokontany">
              <th mat-header-cell *matHeaderCellDef>Fokontany</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.fokontany}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.fokontany != null?update_animeve.fokontany.nom_fkt : update_animeve.village}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_fokontany">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.fokontany != null?update_animeve.fokontany.nom_fkt : update_animeve.village}}
              </th>
            </ng-container>
    
            <!--Column nb_participant-->
            <ng-container matColumnDef="nb_participant">
              <th mat-header-cell *matHeaderCellDef>Nb participant</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_participant}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_participant}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_participant">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_participant}}
              </th>
            </ng-container>
    
            <!--Column nb_f-->
            <ng-container matColumnDef="nb_f">
              <th mat-header-cell *matHeaderCellDef>Nb F</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_f}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_femme}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_f">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_femme}}
              </th>
            </ng-container>
    
            <!--Column nb_f-->
            <ng-container matColumnDef="nb_h">
              <th mat-header-cell *matHeaderCellDef>Nb H</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_h}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_homme}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_h">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_homme}}
              </th>
            </ng-container>
    
            <!--Column nb-25-->
            <ng-container matColumnDef="nb-25">
              <th mat-header-cell *matHeaderCellDef>Nb-25</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_inf_25}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_inf_25}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb-25">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_inf_25}}
              </th>
            </ng-container>
    
            <!--Column nb_specu-->
            <ng-container matColumnDef="nb_specu">
              <th mat-header-cell *matHeaderCellDef>Nb specu</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_specu}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.speculation != null?update_animeve.speculation.length:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_specu">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.speculation != null?update_animeve.speculation.length:null}}
              </th>
            </ng-container>
    
            <!--Column img_pièce-->
            <ng-container matColumnDef="img_pièce">
              <th mat-header-cell *matHeaderCellDef>Img pièce</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  <ion-thumbnail slot="start" *ngIf="update_animeve.img_piece != null">
                    <ion-img [src]="update_animeve.img_piece[0].data"></ion-img>
                  </ion-thumbnail>
                </span>
              </td>
              <!--<td mat-cell *matCellDef="let row">{{row.img_piece}}</td>-->
            </ng-container>
            <ng-container matColumnDef="new_img_pièce">
              <th mat-header-cell *matHeaderCellDef>
                <ion-thumbnail slot="start" *ngIf="update_animeve.img_piece != null">
                  <ion-img [src]="update_animeve.img_piece[0].data"></ion-img>
                </ion-thumbnail>
              </th>
            </ng-container>
    
            <!--Column Action-->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element; dataIndex as i">
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  <div class="content-btn-done" fxLayout="row" fxLayoutGap="3px">
                    <div class="child-row-btn">
                      <button mat-icon-button ion-button icon-only class="btn-cancel" (click)="onCancelEdit()">
                        <mat-icon>
                          <img src="../../../../assets/icon/cancel_48px.png" alt="annuler">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row-btn">
                      <button mat-icon-button icon-only class="btn-done" (click)="onSaveEdit(element)">
                        <mat-icon>
                          <img src="../../../../assets/icon/Ok_48px.png" alt="">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
                <span *ngIf="!isAddAnimation && !isUpdate && !isRowEditAnimation">
                  <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">Specu</button>
                </span>
                <span *ngIf="isUpdate && !isRowEditAnimation && !isAddAnimation">
                  <div class="content-row" fxLayout="row" fxLayoutGap="2px">
                    <div class="child-row">
                      <button mat-icon-button icon-only [class.btn-icon-edit-niv1]="element.etat === etat_sync" [class.btn-icon-edit-disabled]="element.etat != etat_sync" [disabled]="element.etat != etat_sync" (click)="onEditElement({src: 'edit', data: element, index: i})">
                        <mat-icon>
                          <img src="../../../../assets/icon/Edit_50px.png" alt="" *ngIf="element.etat === etat_sync">
                          <img src="../../../../assets/icon/edit_disabled.png" alt="" *ngIf="element.etat != etat_sync">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row">
                      <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">Specu</button>
                    </div>
                    <div class="child-row">
                      <button mat-icon-button icon-only [class.btn-icon-delete]="element.etat === etat_sync" [class.btn-icon-delete-disabled]="element.etat != etat_sync" [disabled]="element.etat != etat_sync" (click)="onDeleteAnimationVe(element)">
                        <mat-icon>
                          <img src="../../../../assets/icon/delete.png" alt="" *ngIf="element.etat === etat_sync">
                          <img src="../../../../assets/icon/delete_disabled.png" alt="" *ngIf="element.etat != etat_sync">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_action">
              <th mat-header-cell *matHeaderCellDef> 
                <span>
                  <div class="content-btn-done" fxLayout="row" fxLayoutGap="3px">
                    <div class="child-row-btn">
                      <button mat-icon-button ion-button icon-only class="btn-cancel" (click)="onCancelAnime()">
                        <mat-icon>
                          <img src="../../../../assets/icon/cancel_48px.png" alt="annuler">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row-btn">
                      <button mat-icon-button icon-only class="btn-done" (click)="onSaveAnime('animation')">
                        <mat-icon>
                          <img src="../../../../assets/icon/Ok_48px.png" alt="">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
              </th>
            </ng-container>
    
            <!-- Template for details row -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsAnimeVe.length">
    
                <div class="row expended-element-detail" [@detailExpand]="element.isExpanded && element.specu_animation.length > 0? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="element.specu_animation">
                    <!--Column code_parce-->
                    <ng-container matColumnDef="speculation">
                      <th mat-header-cell *matHeaderCellDef>Speculation</th>
                      <td mat-cell *matCellDef="let row">{{row.speculation}}</td>
                    </ng-container>
                    <!--Column bloc-->
                    <ng-container matColumnDef="quantite">
                      <th mat-header-cell *matHeaderCellDef>Quantite</th>
                      <td mat-cell *matCellDef="let row">{{row.quantite}}<span *ngIf="row.quantite != null">{{row.unite_espece}}</span></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSpecu" class="header-row-2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSpecu;" class="hg-element-row"></tr>
                  </table>
                </div>
                <div class="row expended-element-detail-vide" [@detailExpand]="element.isExpanded && element.specu_animation.length == 0? 'expanded' : 'collapsed'">
                  <div mat-line>Aucune speculation enregistrer</div>
                </div>
    
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAnimeVe" class="header-row-1"></tr>
            <tr [hidden]="!isAddAnimation" mat-header-row *matHeaderRowDef="displayedColumnsAddAnimeVe; sticky: true" class="second-header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAnimeVe;" class="element-row hg-element-row" [class.expanded-row]="row.isExpanded" [class.sv-row-vide]="row.specu_animation.length == 0"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumnsAnimeVe.length">Aucun enregistrement</td>
            </tr>
    
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vise Echange">
      <div class="flex-container" fxLayout="column width100" fxLayoutGap="5px">
        <!--Contenent Ajouter-->
        <div class="content-flex-header-filter" fxLayout="row" style="justify-content: space-between">
          <div class="content-flex-header-filter-child" fxLayout="row" fxLayoutGap="10px">
            <div class="child-row">
              <button class="btn-toggle" mat-raised-button (click)="toggleTableRows('ve')">Tout afficher</button>
            </div>
            <div class="child-row">
              <button mat-icon-button class="custom-mat-icon-export" (click)="onExport('ve')" [disabled]="src_ve.length === 0" *ngIf="!isUpdate">
                <mat-icon aria-label="retour">
                  <img src="../../../../assets/icon/Ms_excel_48px.png" alt="">
                </mat-icon>
                <mat-label>Exporter</mat-label>
              </button>
            </div>
            <div class="child-row">
              <button mat-raised-button class="btn-ajouter" (click)="onAdd()" *ngIf="isUpdate" [disabled]="isRowEditAnimation">Ajouter VE</button>
            </div>
          </div>
          <div class="child-column" fxLayout="row">
            <button mat-raised-button class="btn-modifier" (click)="onUpdate()" *ngIf="!isUpdate">Modifier</button>
            <button mat-raised-button class="btn-terminer" (click)="onFinish()" *ngIf="isUpdate">Terminer</button>
          </div>
        </div>
        <!--Contenent Ajouter-->
        <div class="child-column">
          <table mat-table [dataSource]="dataSourceVe" class="example-table" multiTemplateDataRows>
            <!--Column code_pr-->
            <ng-container matColumnDef="code_pr">
              <th mat-header-cell *matHeaderCellDef>Code Pr</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.code_pr_temp}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.pr != null?update_animeve.pr.code_pr:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_code_pr">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.pr != null?update_animeve.pr.code_pr:null}}
              </th>
            </ng-container>
    
            <!--Column Nom-->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nom}} {{row.prenom}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.pr != null?update_animeve.pr.nom:null}} {{update_animeve.pr != null?update_animeve.pr.prenom:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nom">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.pr != null?update_animeve.pr.nom:null}} {{update_animeve.pr != null?update_animeve.pr.prenom:null}}
              </th>
            </ng-container>
    
            <!--Column Code_anime-->
            <ng-container matColumnDef="code_anime">
              <th mat-header-cell *matHeaderCellDef>Code_anime</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.code_anime}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  --
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_code_anime">
              <th mat-header-cell *matHeaderCellDef>
                --
              </th>
            </ng-container>
    
            <!--Column date_anime-->
            <ng-container matColumnDef="date_anime">
              <th mat-header-cell *matHeaderCellDef>Date anime</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.date_anim}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.dt_anime}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_date_anime">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.dt_anime}}
              </th>
            </ng-container>
    
            <!--Column commune-->
            <ng-container matColumnDef="commune">
              <th mat-header-cell *matHeaderCellDef>Commune</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.commune}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.commune != null?update_animeve.commune.nom_com:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_commune">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.commune != null?update_animeve.commune.nom_com:null}}
              </th>
            </ng-container>
    
            <!--Column fokontany-->
            <ng-container matColumnDef="fokontany">
              <th mat-header-cell *matHeaderCellDef>Fokontany</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.fokontany}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.fokontany != null?update_animeve.fokontany.nom_fkt : update_animeve.village}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_fokontany">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.fokontany != null?update_animeve.fokontany.nom_fkt : update_animeve.village}}
              </th>
            </ng-container>
    
            <!--Column nb_participant-->
            <ng-container matColumnDef="nb_participant">
              <th mat-header-cell *matHeaderCellDef>Nb participant</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_participant}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_participant}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_participant">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_participant}}
              </th>
            </ng-container>
    
            <!--Column nb_f-->
            <ng-container matColumnDef="nb_f">
              <th mat-header-cell *matHeaderCellDef>Nb F</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_f}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_femme}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_f">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_femme}}
              </th>
            </ng-container>
    
            <!--Column nb_f-->
            <ng-container matColumnDef="nb_h">
              <th mat-header-cell *matHeaderCellDef>Nb H</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_h}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_homme}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_h">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_homme}}
              </th>
            </ng-container>
    
            <!--Column nb-25-->
            <ng-container matColumnDef="nb-25">
              <th mat-header-cell *matHeaderCellDef>Nb-25</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_inf_25}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.nb_inf_25}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb-25">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.nb_inf_25}}
              </th>
            </ng-container>
    
            <!--Column nb_specu-->
            <ng-container matColumnDef="nb_specu">
              <th mat-header-cell *matHeaderCellDef>Nb specu</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  {{row.nb_specu}}
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  {{update_animeve.speculation != null?update_animeve.speculation.length:null}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_nb_specu">
              <th mat-header-cell *matHeaderCellDef>
                {{update_animeve.speculation != null?update_animeve.speculation.length:null}}
              </th>
            </ng-container>
    
            <!--Column img_pièce-->
            <ng-container matColumnDef="img_pièce">
              <th mat-header-cell *matHeaderCellDef>Img pièce</th>
              <td mat-cell *matCellDef="let row; dataIndex as i">
                <span *ngIf="indexRowEdit != i  || !isRowEditAnimation">
                  
                </span>
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  <ion-thumbnail slot="start" *ngIf="update_animeve.img_piece != null">
                    <ion-img [src]="update_animeve.img_piece[0].data"></ion-img>
                  </ion-thumbnail>
                </span>
              </td>
              <!--<td mat-cell *matCellDef="let row">{{row.img_piece}}</td>-->
            </ng-container>
            <ng-container matColumnDef="new_img_pièce">
              <th mat-header-cell *matHeaderCellDef>
                <ion-thumbnail slot="start" *ngIf="update_animeve.img_piece != null">
                  <ion-img [src]="update_animeve.img_piece[0].data"></ion-img>
                </ion-thumbnail>
              </th>
            </ng-container>
    
            <!--Column Action-->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element; dataIndex as i">
                <span *ngIf="indexRowEdit == i  && isRowEditAnimation && isUpdate">
                  <div class="content-btn-done" fxLayout="row" fxLayoutGap="3px">
                    <div class="child-row-btn">
                      <button mat-icon-button ion-button icon-only class="btn-cancel" (click)="onCancelEdit()">
                        <mat-icon>
                          <img src="../../../../assets/icon/cancel_48px.png" alt="annuler">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row-btn">
                      <button mat-icon-button icon-only class="btn-done" (click)="onSaveEdit(element)">
                        <mat-icon>
                          <img src="../../../../assets/icon/Ok_48px.png" alt="">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
                <span *ngIf="!isAddAnimation && !isUpdate && !isRowEditAnimation">
                  <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">Speculation</button>
                </span>
                <span *ngIf="isUpdate && !isRowEditAnimation && !isAddAnimation">
                  <div class="content-row" fxLayout="row" fxLayoutGap="2px">
                    <div class="child-row">
                      <button mat-icon-button icon-only [class.btn-icon-edit-niv1]="element.etat === etat_sync" [class.btn-icon-edit-disabled]="element.etat != etat_sync" [disabled]="element.etat != etat_sync" (click)="onEditElement({src: 'edit', data: element, index: i})">
                        <mat-icon>
                          <img src="../../../../assets/icon/Edit_50px.png" alt="" *ngIf="element.etat === etat_sync">
                          <img src="../../../../assets/icon/edit_disabled.png" alt="" *ngIf="element.etat != etat_sync">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row">
                      <button mat-flat-button class="btn-info btn-dimension" (click)="element.isExpanded = !element.isExpanded">Specu</button>
                    </div>
                    <div class="child-row">
                      <button mat-icon-button icon-only [class.btn-icon-delete]="element.etat === etat_sync" [class.btn-icon-delete-disabled]="element.etat != etat_sync" [disabled]="element.etat != etat_sync" (click)="onDeleteAnimationVe(element)">
                        <mat-icon>
                          <img src="../../../../assets/icon/delete.png" alt="" *ngIf="element.etat === etat_sync">
                          <img src="../../../../assets/icon/delete_disabled.png" alt="" *ngIf="element.etat != etat_sync">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="new_action">
              <th mat-header-cell *matHeaderCellDef> 
                <span>
                  <div class="content-btn-done" fxLayout="row" fxLayoutGap="3px">
                    <div class="child-row-btn">
                      <button mat-icon-button ion-button icon-only class="btn-cancel" (click)="onCancelAnime()">
                        <mat-icon>
                          <img src="../../../../assets/icon/cancel_48px.png" alt="annuler">
                        </mat-icon>
                      </button>
                    </div>
                    <div class="child-row-btn">
                      <button mat-icon-button icon-only class="btn-done" (click)="onSaveAnime('ve')">
                        <mat-icon>
                          <img src="../../../../assets/icon/Ok_48px.png" alt="">
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
              </th>
            </ng-container>
    
              <!-- Template for details row -->
              <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsAnimeVe.length">
    
                <div class="row expended-element-detail" [@detailExpand]="element.isExpanded && element.specu_animation.length > 0? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="element.specu_animation">
                    <!--Column code_parce-->
                    <ng-container matColumnDef="speculation">
                      <th mat-header-cell *matHeaderCellDef>Specu</th>
                      <td mat-cell *matCellDef="let row">{{row.speculation}}</td>
                    </ng-container>
                    <!--Column bloc-->
                    <ng-container matColumnDef="quantite">
                      <th mat-header-cell *matHeaderCellDef>Quantite</th>
                      <td mat-cell *matCellDef="let row">{{row.quantite}}<span *ngIf="row.quantite != null">{{row.unite_espece}}</span></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSpecu" class="header-row-2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSpecu;" class="hg-element-row"></tr>
                  </table>
                </div>
                <div class="row expended-element-detail-vide" [@detailExpand]="element.isExpanded && element.specu_animation.length == 0? 'expanded' : 'collapsed'">
                  <div mat-line>Aucune speculation enregistrer</div>
                </div>
    
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAnimeVe" class="header-row-1"></tr>
            <tr [hidden]="!isAddAnimation" mat-header-row *matHeaderRowDef="displayedColumnsAddAnimeVe; sticky: true" class="second-header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAnimeVe;" class="element-row hg-element-row" [class.expanded-row]="row.isExpanded" [class.sv-row-vide]="row.specu_animation.length == 0"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumnsAnimeVe.length">Aucun enregistrement</td>
            </tr>
    
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>
